
@import "../node_modules/bootstrap/scss/bootstrap";

@import "function";
@import "media";

@import "base";

//common
@import "blocks/header";
@import "blocks/common-ui";

//blocks
@import "blocks/download-contact";
@import "blocks/home-banner";
@import "blocks/hotrd";
@import "blocks/protect-business";
@import "blocks/free-trial";
@import "blocks/our-tech-partners";
@import "blocks/testimonials";
@import "blocks/whychoose";
@import "blocks/common-data-protection-questions";
@import "blocks/our-blog";
@import "blocks/bottom";
@import "blocks/footer";