.about-hdr {
  padding-top: 70px;
  padding-bottom: 120px;

  @include max-screen(767px) {
    padding: 60px 0;
  }

  .about-hdrinfo {
    text-align: center;
    max-width: 580px;
    margin: 0 auto;

    h1 {
      margin: 0 0 40px 0;
    }

    p {
      font-size: pxToRem(20px);
    }
  }

  .about-logos {
    margin: 75px 0 0 0;
    padding: 0;

    @include max-screen(767px) {
      margin: 45px 0 0 0;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 0;
        padding: 15px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 calc(33% - 30px);
        margin: 0 15px 30px;
        min-height: 120px;
        //border: 1px solid #e6e8eb;
        border-radius: 25px;

        @include max-screen(767px) {
          flex: 0 0 calc(20% - 20px);
          margin: 0 10px 15px;
          min-height: 90px;
        }

        img {
          max-height: 110px;
          width: auto;

          @include max-screen(767px) {
            max-height: 60px;
            width: auto;
          }

        }
      }
    }
  }
}