.article-w {
  padding: 90px 0 0 0;
  position: relative;
  &:before {
    width: 100%;
    height: 16%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F5FAFF;
    z-index: -1;
  }

  @include max-screen(767px) {
    padding: 60px 0 0 0;
  }

  .hdr-article {
    max-width: 579px;
    margin-left: 100px;
    margin-bottom: 50px;

    @include max-screen(991px) {
      margin-left: 0;
    }

    h2 {
      margin: 0 0 15px 0;
    }

    .date {
      background-color: #fbfbfb;
      border: 1px solid #e6e8eb;
      margin-bottom: 15px;
      border-radius: 30px;
      display: inline-block;
      padding: 2px 15px; 
    }
  }

  .img-article-l {
    margin: 0 0 75px 0;
    padding: 0;

    img {
      border-radius: 30px;
      width: 100%;
    }
  }
}

.cont-article {
  max-width: 786px;
  margin: 0 auto;

  h4 {
    margin: 0 0 20px 0;
    line-height: 1.3;
  }

  p {
    margin: 0 0 20px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
  }

  ul {
    margin: 30px 0 80px 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0 0 10px 0;
      padding: 0 0 0 25px;
      position: relative;

      &:before {
        width: 8px;
        height: 8px;
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        background-color: #007aff;
        border-radius: 50%;
      }
    }
  }
}
