.cdpa-w {
  padding: 160px 0;
  background: url(../images/cdpq-bg.png) no-repeat ; 
  background-size: cover;
  position: relative;

  .brief-c{ max-width: 580px;}

  .brief-c h2, .brief-c .h2, .brief-c p{ color:#fff}

  .container {
    position: relative;
    z-index: 1;
  }

  &:before {
    width: 396px;
    height: 236px;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background: url(../images/white-small-bubbles-bg.svg) no-repeat;
  }

  &:after {
    width: 396px;
    height: 236px;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: url(../images/white-small-bubbles-bg.svg) no-repeat;
  }



  .cont-cdpa {
    max-width: 786px;
    margin: 0 auto;
    padding: 0;

    .accordion-cdpa {
      margin: 80px 0 0 0;



      .accordion-item {
        background-color: transparent;
        margin-bottom: 15px;
        border-radius: 30px;
        border: 1px solid #fff !important;
        overflow: hidden;

        :not(:first-of-type) {
          border: none;
        }

        .accordion-button:not(.collapsed) {
          background-color: rgba(255, 255, 255, 0.2);
        }

        .accordion-button:not(.collapsed) .ico:before {
          display: none;
        }

        .accordion-button {
          background-color: transparent;
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          border-bottom: none;
          box-shadow: none;
          padding: 28px 60px 28px 30px;
          position: relative;

          &:after {
            display: none;
          }

          .ico {
            position: absolute;
            right: 35px;
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            &:after {
              width: 100%;
              height: 2px;
              background-color: #fff;
              content: "";
              position: absolute;
              border-radius: 3px;
            }

            &:before {
              width: 2px;
              height: 100%;
              background-color: #fff;
              content: "";
              position: absolute;
            }
          }
        }

        .accordion-body {
          color: #fff;
          padding: 0 30px 30px 30px;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

 @media only screen and (max-width: 767px) {
  .cdpa-w {
    padding: 50px 0;
  }

  .accordion-cdpa {
     margin-top: 50px;
   }
 }
