@media only screen and (min-width: 992px) {
    .container {
        max-width: 1150px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}


.brief-c {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    h2 {
        margin: 0 0 30px 0;
    }

    p {
        margin: 0;
    }
}

.green-button {
    padding: 0;

    a,
    input[type=button],
    input[type=submit] {
        background-color: rgba(11, 212, 125, 1);
        border-radius: 27px;
        display: inline-block;
        text-align: center;
        font-size: pxToRem(15px);
        color: #fff;
        font-weight: bold;
        padding: 0 30px;
        line-height: 54px;
        border: 0;

        &:hover {
            background-color: rgba(11, 212, 125, 0.7);
        }
    }
}

.border-button {
    padding: 0;

    a {
        border-radius: 27px;
        display: inline-block;
        border: 1px solid #fff;
        text-align: center;
        font-size: pxToRem(15px);
        color: #fff;
        font-weight: bold;
        padding: 0 35px;
        line-height: 54px;

        span {
            margin-right: 10px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 1);
            color: #262626;
        }
    }
}

.green-button-i {
    padding: 0;

    a {
        margin-right: 10px;
        border-radius: 30px;
        background: rgba(11, 212, 125, 1) url(../images/icon-green-accept.svg) 18px center no-repeat;
        border-radius: 27px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        font-size: pxToRem(15px);
        color: #fff;
        font-weight: bold;
        padding: 0 30px 0 45px;
        border: 1px solid transparent;
        min-height: 54px;
        min-width: 141px;


        @include max-screen(473px) {
            min-width: 171px;
            margin-bottom: 15px;
            margin-right: 0;
            justify-content: center;
        }

        .c-banner-w & {
            @include max-screen(473px) {
                min-width: fit-content;
                margin-bottom: 15px;
                margin-right: 10px;
                justify-content: center;
            }
        }

        span {
            margin-right: 10px;
        }

        &:hover {
            background-color: rgba(11, 212, 125, 0.7);
        }
    }
}

.green-button-i-wa {
    padding: 0;

    a {
        margin-right: 10px;
        border-radius: 30px;
        background: rgba(11, 212, 125, 1);
        border-radius: 27px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        font-size: pxToRem(15px);
        color: #fff;
        font-weight: bold;
        padding: 0 30px;
        border: 1px solid transparent;
        min-height: 54px;
        min-width: 141px;

        @include max-screen(767px) {
            min-width: auto;
            margin-bottom: 15px;
        }

        span {
            margin-right: 10px;
        }

        &:hover {
            background-color: rgba(11, 212, 125, 0.7);
        }
    }
}

.border-button-i {
    padding: 0;

    a {
        border-radius: 27px;
        display: inline-block;
        border: 1px solid #fff;
        text-align: left;
        font-size: pxToRem(15px);
        color: #fff;
        font-weight: bold;
        padding: 0 30px 0 45px;
        line-height: 54px;
        background: url(../images/icon-call.svg) 18px center no-repeat;

        span {
            margin-right: 10px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 1);
            color: #262626;
        }
    }
}

.innerpage-body {
    max-width: 786px;
    margin: 0 auto;

    h4 {
        margin: 0 0 20px 0;
        line-height: 1.3;
    }

    p {
        margin: 0 0 20px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin: 30px 0 30px 0;
        padding: 0;

        li {
            list-style-type: none;
            margin: 0 0 10px 0;
            padding: 0 0 0 25px;
            position: relative;

            &:before {
                width: 8px;
                height: 8px;
                content: "";
                position: absolute;
                left: 0;
                top: 11px;
                background-color: #007aff;
                border-radius: 50%;
            }
        }
    }
}

#main {
    width: 100%;
    overflow: hidden;
    min-height: calc(100vh - 273px);
    padding-top: 130px;

    @include max-screen(1100px) {
        padding-top: 94px;
    }

    @include max-screen(991px) {
        padding-top: 64px;
    }

    @include max-screen(767px) {
        padding-top: 110px;
    }

    @include max-screen(430px) {
        padding-top: 84px;
    }

    @include max-screen(331px) {
        padding-top: 95px;
    }

    @include max-screen(273px) {
        padding-top: 101px;
    }

    @include max-screen(991px) {

        p br,
        li br {
            display: none;
        }

    }

}

.top-padding-50 {
    padding-top: 50px !important;

    @include max-screen(767px) {
        padding-top: 25px;
    }
}

.wpcf7-response-output {
    display: none;

}

.form {
    margin: 30px 0 0 0;

    p {
        margin-bottom: 0 !important;
        max-width: 100% !important;
    }


    .fieldbox {
        margin: 0 0 10px 0;
    }

    .two-column-field {
        display: flex;
        margin: 0 -10px;

        @include max-screen(767px) {
            display: block;
        }

        .column {
            flex: 0 0 calc(50% - 20px);
            margin: 0 10px;


        }
    }

    .single-column-field {
        display: flex;
        margin: 0 -10px;

        .column {
            flex: 0 0 calc(100% - 20px);
            margin: 0 10px;
        }
    }

    .input-freetrial {
        border: 1px solid #e6e8eb;
        border-radius: 10px;
        font-size: 16px;
        padding: 15px 15px;
        color: #262626;
        width: 100%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 600;
        font-size: pxToRem(15px);
    }

    .textarea-freetrial {
        border: 1px solid #e6e8eb;
        border-radius: 10px;
        font-size: 16px;
        padding: 15px 15px;
        color: #262626;
        width: 100%;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 600;
        font-size: pxToRem(15px);
        height: 120px;
    }

    .wpcf7-list-item {
        margin-left: 0 !important;
    }

    .wpcf7-list-item-label {
        padding-left: 5px;
        font-size: 13px;
    }

    .checkbox-c span {
        width: 100%;
    }

    .list-wrap {
        padding-bottom: 10px;

        .checkbox-list {
            padding-bottom: 8px;
            display: block;
        }

        p {
            font-size: 16px;
            color: #262626;
            width: 100%;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 600;
            margin: 0;
            padding: 0;

        }

        .list-checkbox-wrap-c {
            ul {
                margin: 0;
                padding: 10px 0;

                li {
                    list-style-type: none;
                    padding: 0px;
                    margin: 0 0 5px !important;
                    text-indent: 0 !important;

                    input {
                        width: auto !important;
                        float: left;
                        margin-top: .25em;
                    }

                    label {
                        display: block;
                        float: none;
                        width: auto;
                        margin-left: 1.5em;
                    }
                }


            }
        }
    }

    label {
        font-size: 14px;
        color: #262626;
        width: 100%;
        font-family: "Plus Jakarta Sans", sans-serif !important;
        font-weight: 600;
        display: flex;
    }

    .textarea-freetrial {
        border: 1px solid #e6e8eb;
        border-radius: 10px;
        font-size: 16px;
        padding: 15px 15px;
        color: #262626;
        width: 100%;
        font-family: "Plus Jakarta Sans", sans-serif !important;
        font-weight: 600;
        font-size: pxToRem(15px);
        height: 120px;
    }



    .input-freetrial::placeholder {
        opacity: 1;
        color: #262626;
    }

    .wpcf7-not-valid-tip {
        color: #dc3232;
        font-size: 15px;
        font-weight: normal;
        display: block;
    }

    .consent {
        margin: 0px 0 12px 0 !important;
        padding: 3px 0 0 0px;
        position: relative;

        .form-check {
            position: absolute;
            left: -6px;
            top: 2px;
            display: block;
            min-height: 1.5rem;
            padding-left: 0;
            margin-bottom: 0.125rem;
        }

        .form-check-input {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            box-shadow: none;
            background-color: #0ABA6E;
            border: 0;
            background-size: 70% auto;
        }

        p,
        label {
            font-size: 11px !important;
            color: #5c5c5c !important;
            text-align: left !important;
            padding-left: 22px;

            a {
                color: #5c5c5c !important;
                text-decoration: underline;
            }
        }

    }
}

.sitemap a {
    color: #262626 !important;

    &:hover {
        color: #007aff !important;

    }
}

.admin-bar #header {
    top: 82px
}

.scrolled.admin-bar #header {
    top: 32px
}