@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.brief-c {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  h2 {
    margin: 0 0 30px 0;
  }
  p {
    margin: 0;
  }
}

.green-button {
  padding: 0;

  a, input[type=button]  {
    background-color: rgba(11, 212, 125, 1);
    border-radius: 27px;
    display: inline-block;
    text-align: center;
    font-size:pxToRem(15px);
    color: #fff;
    font-weight: bold;
    padding: 0 30px;
    line-height: 54px;
    border:0;

    &:hover {
      background-color: rgba(11, 212, 125, 0.7);
    }
  }
}

.border-button {
  padding: 0;

  a {
    border-radius: 27px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    font-size:pxToRem(15px);
    color: #fff;
    font-weight: bold;
    padding: 0 35px;
    line-height: 54px;

    span {
      margin-right: 10px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      color: #262626;
    }
  }
}

.green-button-i {
  padding: 0;

  a {
    background-color: rgba(11, 212, 125, 1);
    border-radius: 27px;
    display: inline-block;
    text-align: center;
    font-size:pxToRem(15px);
    color: #fff;
    font-weight: bold;
    padding: 0 25px 0 20px;
    line-height: 54px;

    span {
      margin-right: 10px;
    }

    &:hover {
      background-color: rgba(11, 212, 125, 0.7);
    }
  }
}

.border-button-i {
  padding: 0;

  a {
    border-radius: 27px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    font-size:pxToRem(15px);
    color: #fff;
    font-weight: bold;
    padding: 0 25px 0 20px;
    line-height: 54px;

    span {
      margin-right: 10px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      color: #262626;
    }
  }
}
