.c-banner-w {
  padding: 128px 0;

  @include max-screen(991px) {
    padding: 60px 0;
  }

  h2 {
    margin: 0 0 25px 0;
    padding: 0;

    span {
      color: #007aff;
    }
  }

  P {
    font-size: pxToRem(20px);
    margin: 0 0 30px 0;
    font-weight: 600;
    color: #5c5c5c;
    line-height: 1.75;
  }

  .c-info {
    margin: 0;
  }

  .actions {
    margin: 50px 0 0 0;
    display: flex;

    div {
      display: inline-flex;

      &.border-button-i {
        a {
          border: 1px solid #e6e8eb;
          color: #262626;
        }
      }
    }
  }

  .img-c-banner {
    margin: 0;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      border-radius: 20px;

      @include max-screen(991px) {
        margin-bottom: 30px;
      }
    }
  }
}
