.c-banner-w {
    padding: 50px 0 100px 0;

    @include max-screen(991px) {
        padding: 40px 0;
    }

    @include max-screen(767px) {
        padding: 25px 0;
    }

    h1 {
        margin: 0 0 25px 0;
        padding: 0;
        font-size: pxToRem(46px);
        font-weight: 700;
        line-height: 1.3;

        @include max-screen(767px) {
            font-size: pxToRem(30px);
        }
    }

    h2 {
        margin: 0 0 25px 0;
        padding: 0;

        span {
            color: #007aff;
        }
    }

    P {
        font-size: pxToRem(20px);
        margin: 0 0 30px 0;
        font-weight: 600;
        color: #5c5c5c;
        line-height: 1.75;
    }

    .c-info {
        margin: 0;

        @include max-screen(991px) {
            text-align: center;
        }
    }

    .img-sec {

        @include max-screen(991px) {
            padding-top: 60px;
            margin-bottom: 0;
        }

        @include max-screen(767px) {
            padding-top: 30px;
            margin-bottom: 0;
        }

    }

    .img-c-banner {
        margin: 0;
        width: 100%;

        img {
            width: 100%;
            height: auto;
            border-radius: 20px;

            @include max-screen(991px) {
                margin-bottom: 30px;
            }
        }
    }
}

.actions {
    margin: 50px 0 0 0;
    display: flex;

    @include max-screen(991px) {
        margin-top: 25px;
        display: inline-flex;
    }

    @include max-screen(767px) {
        margin-top: 10px;
        display: block;
    }

    div {
        display: inline-flex;

        &.border-button-i {
            a {
                border: 1px solid #e6e8eb;
                color: #262626;
            }
        }
    }
}