.c-w-img-w {
  padding: 160px 0;

  @include max-screen(991px) {
    padding: 60px 0;
  }



  .img-c-w {
    width: 100%;

    @include max-screen(991px) {
      text-align: center;
      margin-bottom: 60px;
    }

    img {
      max-width: 100%;
    }
  }
}

.c-w-info {
  padding: 0;

  h2 {
    margin: 0 0 30px 0;

    @include max-screen(991px) {
      text-align: center;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0 0 20px 0;
      padding: 0 0 0 35px;
      position: relative;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 3px;
        background: url(../images/icon-blue-circle-check.svg) no-repeat left;
      }
    }
  }
}

.c-w-info1 {
  padding: 0;

  h2 {
    margin: 0 0 30px 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0 0 20px 0;
      padding: 0 0 0 35px;
      position: relative;

      @include max-screen(991px) {
        br {
          display: block !important;
        }
      }

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 3px;
        background: url(../images/icon-blue-circle-check.svg) no-repeat left;
      }
    }
  }
}