.datacenters-location-w {
    padding: 140px 0 0px 0;

    @include max-screen(767px) {
        padding: 60px 0 50px 0;
    }

    .brief-c {
        max-width: 804px;
    }

    .cont-dl {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;

        .column {
            flex: 0 0 calc(50% - 40px);
            margin: 0 20px 30px;
            padding: 35px 26px 320px 26px;
            border: 1px solid #e6e8eb;
            position: relative;
            background-color: #fbfbfb;
            border-radius: 30px;

            @include max-screen(991px) {
                flex: 0 0 calc(100% - 40px);
                padding-bottom: 35px;
            }

            h4 {
                margin: 0 0 30px 0;
                padding: 0;
                color: #303333;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    border-bottom: 1px solid #e6e8eb;
                    padding: 20px 0;
                    @include max-screen(767px) {
                        display: block;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    span.placeholdr {
                        font-size: 18px;
                        font-weight: bold;
                        color: #007aff;
                        width: 140px;
                        padding-right: 5px;
                        @include max-screen(767px) {
                            display: block;
                            width: 100%;
                        }
                    }

                    span.value {
                        font-size: 18px;
                        font-weight: 600;
                        flex: 1;
                        @include max-screen(767px) {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }

            .map {
                margin: 20px 0 0 0;
                padding: 35px;
                position: absolute;
                left: 0;
                bottom: 0;

                @include max-screen(991px) {
                    position: relative;
                    padding: 0;
                }

                img {
                    width: 100%;
                    border-radius: 20px;
                    height: auto;
                }
            }
        }
    }
}