footer{ background-color: #fff; padding: 28px 0;

p{ color: #222426; font-size: 15px; margin: 0; padding: 0;

    span{ color: #007AFF;}

}

.sm-icons{ margin: 0; text-align: right;

    @include max-screen(767px) {

        text-align: center;
        margin-top: 20px;
    
      }

a{ margin-left: 30px; display: inline-block;

    img{ height: auto; max-width: 22px;}

}

}

@include max-screen(767px) {

    text-align: center;

  }

}