.freetrial-header{ background-color: #f5faff; padding: 130px 0 ;


    @include max-screen(767px) {
        padding: 60px 0;
      }


      h1{ margin: 0; line-height: 1.2; margin: 0 0 35px 0;
    
    span{color: #007AFF;}
    
    }

    h6{font-size: pxToRem(20px); margin: 0 0 30px 0; font-weight: 600; color: #5c5c5c; line-height: 1.75;}

    p{ color: #262626; margin: 0; font-weight: bold;}

    .desc-freetrial{ max-width: 415px;}


}

.form-freetrial{ border:1px solid #E6E8EB; border-radius: 30px; padding: 40px; background-color: #fff;

h4{ margin: 0; padding: 0; color: #262626;}

.form{ margin:30px 0 0 0;

    

}

.fieldbox{ margin: 0 0 10px 0;}

.input-freetrial{ border:1px solid #E6E8EB; border-radius: 10px; font-size: 16px; padding: 15px 15px; color: #262626; width: 100%; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 600; font-size: pxToRem(15px);}

.input-freetrial::placeholder{ opacity: 1; color: #262626;}




}