.free-trial-c {
  background: url(../images/free-trial-bg.svg) no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50px;

  overflow: hidden;
  display: flex;
  justify-content: space-between;

  h2 {
    color: #fff;
    margin: 0 0 20px 0;
  }

  p {
    color: #fff;
  }

  .cont-free-trial {
    max-width: 490px;
    padding: 48px 0 48px 76px;

    @include max-screen(991px) {
      padding: 48px 76px;
      text-align: center;
      max-width: 100%;
    }

    @include max-screen(767px) {
      padding: 48px 30px;
      text-align: center;
      max-width: 100%;
    }
  }

  .trial-action-button {
    margin: 40px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    @include max-screen(991px) {
      justify-content: center;
    }

    @include max-screen(479px) {
      justify-content: baseline;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      @include max-screen(479px) {
        flex-direction: column;
        width: 100%;
      }

      li {
        margin: 0 10px 20px 0;
        padding: 0;
        list-style-type: none;

        @include max-screen(479px) {
          justify-content: baseline;
          margin-bottom: 0;
          margin-right: 0;
          width: 100%;

          &:first-of-type {
            margin-bottom: 20px;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        @include max-screen(479px) {
          div {
            width: 100%;

            a {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .ad-img {
    margin: 0;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    @include max-screen(991px) {
      display: none;
    }
  }

  .ad-img img {
    width: 100%;
  }
}
