.freetrial-header {
    background-color: #f5faff;
    padding: 50px 0 130px 0;

    @include max-screen(991px) {
        text-align: center;
    }

    @include max-screen(767px) {
        padding: 60px 0;
    }

    h1 {
        margin: 0;
        line-height: 1.2;
        margin: 0 0 35px 0;

        span {
            color: #007aff;
        }
    }

    h6 {
        font-size: pxToRem(20px);
        margin: 0 0 30px 0;
        font-weight: 600;
        color: #5c5c5c;
        line-height: 1.75;
        max-width: 415px;

        @include max-screen(991px) {
            margin: 0 auto;
        }
    }

    h4 {
        font-size: pxToRem(26px);
        margin: 0 0 20px 0;
        font-weight: 700;
        max-width: 373px;

        @include max-screen(991px) {
            margin: 0 auto;
        }
    }

    p {
        color: #262626;
        margin: 0;
        font-weight: bold;
        max-width: 415px;

        @include max-screen(991px) {
            margin: 0 auto;
        }
    }

}

.contact-w {
    background-color: #f5faff;
    padding: 50px 0 130px 0;


    @include max-screen(767px) {
        padding: 60px 0;
    }

    h1 {
        margin: 0;
        line-height: 1.2;
        margin: 0 0 35px 0;
    }

    .address-w {

        max-width: 476px;
        padding: 20px 0;

        h4 {
            font-size: pxToRem(26px);
            margin: 0 0 20px 0;
            font-weight: 700;
            max-width: 373px;
        }

        p {
            color: #5c5c5c;
            margin: 0;
        }

        ul {
            margin: px 0 0 0;
            padding: 20px 0 0 0;

            li {
                margin: 0;
                padding: 0 0 0 30px;
                list-style-type: none;
                color: #222426;
                position: relative;

                a {
                    color: #222426;
                }

                img {
                    margin-right: 10px;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }

                img.email {
                    top: 9px;
                }
            }
        }
    }

}

.form-freetrial {
    border: 1px solid #e6e8eb;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0px 0px 68px 3px rgba(0, 0, 0, 0.1);

    @include max-screen(991px) {
        margin-top: 60px;
    }

    h4 {
        margin: 0;
        padding: 0;
        color: #262626;
    }

    

}

.nf-form-fields-required,
.ninja-forms-req-symbol {
    display: none;
}

.nf-field-container {
    clear: both;
    position: relative;
    margin-bottom: 12px !important;
}

.nf-after-field .nf-error-msg {
    margin-right: 10px;
    font-size: 14px !important;
}

.contact-map {
    padding: 120px 0 90px 0;

    @include max-screen(991px) {
        padding: 60px 0 45px 0;
    }

    img {
        max-width: 100%;

    }
}

.pricing-header {
    background-color: #f5faff;
    padding: 50px 0 130px 0;

    @include max-screen(991px) {
        text-align: center;
    }

    @include max-screen(767px) {
        padding: 60px 0;
    }

    h1 {
        margin: 0;
        line-height: 1.2;
        margin: 0 0 35px 0;

        span {
            color: #007aff;
        }
    }

    h6 {
        font-size: pxToRem(20px);
        margin: 0 0 30px 0;
        font-weight: 600;
        color: #5c5c5c;
        line-height: 1.75;
        max-width: 415px;

        @include max-screen(991px) {
            margin: 0 auto;
        }
    }

    h4 {
        font-size: pxToRem(26px);
        margin: 0 0 20px 0;
        font-weight: 700;
        max-width: 373px;

        @include max-screen(991px) {
            margin: 0 auto;
        }
    }

    p {
        margin: 0;
        font-weight: bold;

        @include max-screen(991px) {
            margin: 0 auto;
        }
    }
    ul {
        margin: 50px 0 0 0;
        padding: 15px 0 38px 0;

        @include max-screen(991px) {
            padding: 15px 0 15px 0;
            margin: 0 auto;
            width: fit-content;
        }



        li {
            list-style-type: none;
            margin: 0 20px 10px 0;
            padding: 0 0 0 35px;
            color: #262626;
            background: url(../images/icon-blue-circle-check.svg) no-repeat left 3px;
            font-weight: bold;
            text-align: left;
            display: block;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    .trusted-partners {
        margin: 35px 0 0 0;
        max-width: 560px;

        @include max-screen(991px) {
            max-width: 100%;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            @include max-screen(991px) {
                display: block;
                text-align: center;
                max-width: 425px;
                margin: 0 auto;
            }

            li {
                margin: 0 40px 0 0;
                padding: 0;
                background: none;
                display: block;

                @include max-screen(991px) {
                    display: inline-block;
                    margin: 0 20px 20px 20px;
                    
                }
                @include max-screen(767px) {
                    margin: 0 10px 20px 10px;
                }

                &:last-child {
                    margin-right: 0;
                }

                img {
                    max-width: 100%;
                    max-height: 64px;
                    @include max-screen(767px) {
                        max-height: 48px;
                    }
                }
            }
        }
    }

}