#header {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 100;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    .single & {
        background-color: #f5faff;
    }

    .scrolled & {
        background-color: #fff !important;
    }

    &.white {
        background-color: #fff;
    }

    &.light-blue {
        background-color: #f5faff;
    }

    @include max-screen(1000px) {
        top: 80px;
    }

    @include max-screen(767px) {
        top: 75px;
    }

    @include max-screen(650px) {
        top: 97px;
    }
}


.header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
    padding-top: 38px;
    padding-bottom: 38px;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    @include max-screen(1100px) {

        padding-top: 20px !important;
        padding-bottom: 20px !important;

    }

    &.container {
        @include max-screen(1100px) {
            max-width: 100% !important;
            --bs-gutter-x: 0;
            padding-left: 30px;
            padding-right: 30px;
        }
    }


    .header__logo {
        width: 200px;
        display: inline-block;
        position: relative;
        z-index: 5;

        @include max-screen(430px) {
            img {
                width: 170px;
            }
        }
    }
}

.header__nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-self: flex-end;
    margin-left: auto;

    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-out 0s, left 0s linear 0.5s;
        transition: opacity 0.3s ease-out 0s, left 0s linear 0.5s;
    }

    @include max-screen(1100px) {
        margin-right: 0;
        margin-left: auto;
        justify-self: flex-end;
        z-index: 20;
    }
}

.header__nav {
    z-index: 4;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include max-screen(1100px) {
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        top: 100%;
        right: -100%;
        overflow: auto;
        background-color: #fff;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    @include max-screen(1100px) {
        height: calc(100vh - 200px);
    }
}

/****************** Desktop Buttons ******************/

.header__nav__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include max-screen(1100px) {
        position: absolute;
        bottom: 0;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
        flex-wrap: wrap;
    }

    .button {
        margin-right: 10px;
        border-radius: 30px;
        background: rgba(11, 212, 125, 1) url(../images/icon-green-accept.svg) 18px center no-repeat;
        border-radius: 27px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        font-size: pxToRem(15px);
        color: #fff;
        font-weight: bold;
        padding: 0 30px 0 45px;
        border: 1px solid transparent;
        min-height: 54px;
        min-width: 141px;


        &:hover {
            background-color: rgba(11, 212, 125, 0.7);
        }

        span {
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.button--white {
            background: #fff url(../images/icon-support.svg) 26px center no-repeat;
            color: #262626;
            border-color: #e6e8eb;

            &:hover {
                background-color: #f5f9ff;
            }
        }
    }

    @include max-screen(1100px) {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
        left: 0;
        right: 0;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        z-index: -1;
    }
}

/****************** Mobile Buttons ******************/

.header__buttons {
    display: none;

    @include max-screen(1100px) {
        line-height: 0;
        z-index: 30;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .button {
            margin-right: 10px;
            border-radius: 30px;
            background: rgba(11, 212, 125, 1) url(../images/icon-green-accept.svg) 18px center no-repeat;
            border-radius: 27px;
            display: inline-flex;
            align-items: center;
            text-align: center;
            font-size: pxToRem(13px);
            color: #fff;
            font-weight: bold;
            padding: 0 20px 0 45px;
            border: 1px solid transparent;
            min-height: 54px;

            @include max-screen(430px) {

                background-image: none;
                padding: 0 15px;
                min-height: 44px;
                margin-right: 0;

            }
        }
    }

}

/****************** Toggle Icon ******************/

.nav-toggle {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    position: relative;
    display: none;
    float: right;
    z-index: 5;
    margin-right: 0;
    justify-self: flex-end;
    margin-left: 10px;

    @include max-screen(1100px) {
        display: block;
    }

    .nav-toggle-icon {
        position: absolute;
        width: 28px;
        height: 16px;
        top: 12px;
        left: 12px;

        &:before {
            background-color: #061b3b;
            left: 0;
            -webkit-transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                -webkit-transform 0.25s linear 0s;
            transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                -webkit-transform 0.25s linear 0s;
            transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                transform 0.25s linear 0s;
            transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                transform 0.25s linear 0s, -webkit-transform 0.25s linear 0s;
            top: 50%;
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 1px;
        }

        &:after {
            background-color: #061b3b;
            top: 100%;
            left: 0;
            -webkit-transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                -webkit-transform 0.25s linear 0s;
            transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                -webkit-transform 0.25s linear 0s;
            transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                transform 0.25s linear 0s;
            transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s,
                transform 0.25s linear 0s, -webkit-transform 0.25s linear 0s;
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 1px;
        }

        .nav-toggle-icon__inner {
            top: 0;
            left: 0;
            -webkit-transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s;
            transition: opacity 0.25s linear 0s, top 0.25s linear 0.25s;
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #061b3b;
        }
    }
}

/****************** Offcanvas Transition ******************/

@include max-screen(1100px) {
    body.header-active #header {
        background-color: #fff;
    }

    .header-active .header__nav {
        right: 0;
    }
}

.header-active .header__nav__wrapper::before {
    left: 0;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-out 0s, left 0s linear 0s;
    transition: opacity 0.3s ease-out 0s, left 0s linear 0s;
}

/****************** Menu Close Icon ******************/

.header-active .nav-toggle-icon__inner,
.nav-toggle-icon.nav-close__inner {
    opacity: 0;
    top: 50%;
    -webkit-transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s;
    transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s;
}

.header-active .nav-toggle-icon:before,
.nav-toggle-icon.nav-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    -webkit-transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        -webkit-transform 0.25s linear 0.25s;
    transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        -webkit-transform 0.25s linear 0.25s;
    transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        transform 0.25s linear 0.25s;
    transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        transform 0.25s linear 0.25s, -webkit-transform 0.25s linear 0.25s;
}

.header-active .nav-toggle-icon:after,
.nav-toggle-icon.nav-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
    -webkit-transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        -webkit-transform 0.25s linear 0.25s;
    transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        -webkit-transform 0.25s linear 0.25s;
    transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        transform 0.25s linear 0.25s;
    transition: opacity 0.25s linear 0.25s, top 0.25s linear 0s,
        transform 0.25s linear 0.25s, -webkit-transform 0.25s linear 0.25s;
}



.scrolled #header {
    top: 0;
    border-bottom: 1.5px solid rgba(6, 27, 59, .1);
}

.scrolled .header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px
}

.header__nav .menu-item__icon {
    display: inline-block;
    margin-left: 16px;
    width: 10px;
    height: 10px;
    position: relative;
    margin-top: 2px;
    display: none;


    &:before {
        position: absolute;
        background: 0 0;
        width: 100vw;
        height: 60px;
        content: "";
        right: -30px;
        bottom: -20px;
        cursor: pointer;
    }

    @include max-screen(1100px) {

        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }


}