.home-banner-w {
    padding: 50px 0 120px 0;

    @include max-screen(767px) {
        padding: 0px 0 30px 0;
    }

    h1 {
        color: #262626;
        letter-spacing: -1px;
        line-height: 1.23;
        margin: 0 0 35px 0;

        @include max-screen(767px) {

            margin-bottom: 10px;

        }

        span {
            color: #007aff;
        }
    }

    p {
        font-size: pxToRem(20px);
        max-width: 515px;
    }

    ul {
        margin: 0 0 0 0;
        padding: 15px 0 38px 0;

        @include max-screen(991px) {
            padding: 15px 0 15px 0;
            margin: 0 auto;
            width: fit-content;
        }

        @include max-screen(767px) {
            padding: 0px 0 15px 0;
            margin: 0 auto;
            width: fit-content;
        }



        li {
            list-style-type: none;
            margin: 0 20px 20px 0;
            padding: 0 0 0 35px;
            color: #262626;
            background: url(../images/icon-blue-circle-check.svg) no-repeat left 3px;
            font-weight: bold;
            text-align: left;
            display: block;

            @include max-screen(767px) {

                margin: 0 20px 5px 0;

            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .trusted-partners {
        margin: 35px 0 0 0;
        max-width: 560px;

        @include max-screen(991px) {
            max-width: 100%;
            margin: 15px 0 0 0;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            @include max-screen(767px) {
                display: block;
                text-align: center;
                margin: 0 auto;
            }

            li {
                margin: 0 40px 0 0;
                padding: 0;
                background: none;
                display: block;

                @include max-screen(991px) {
                    display: inline-block;
                    margin: 0 20px 20px 20px;

                }

                @include max-screen(767px) {
                    margin: 0 10px 20px 10px;
                }

                &:last-child {
                    margin-right: 0;
                }

                img {
                    max-width: 100%;
                    max-height: 64px;

                    @include max-screen(767px) {
                        max-height: 48px;
                    }
                }
            }
        }
    }

    .home-free-trial {
        padding: 0;
    }

    @include max-screen(991px) {
        p {
            max-width: 100%;
        }
    }



    .home-info {
        padding: 0;

        @include max-screen(991px) {
            text-align: center;
        }
    }

    .home-video-img {
        margin: 100px 0 0 0;

        @include max-screen(991px) {
            margin-top: 30px;
            margin-bottom: 0;
        }

        .video_wrapper {
            padding-bottom: 84.25%;
            max-width: 150%;
            width: 150%;
            border-radius: 20px;

            @include max-screen(1100px) {
                width: 100%;
                max-width: 100%;
                padding-bottom: 56.25%;
            }
        }

        .videoBlock {
            width: 150%;
            box-shadow: -4px 47px 52px -8px rgba(0, 0, 0, 0.3);
            border-radius: 20px;

            @include max-screen(1100px) {
                width: 100%;

            }

            .plyr--video {
                border-radius: 20px;
            }
        }
    }
}