.icon-grid-section {
   // background-color: #f5faff;

    .brief-c {
        max-width: 700px;
        text-align: center;
        margin: 0 auto 60px auto;

        h2 {
            margin: 0 0 30px 0;
        }

        p {
            margin: 0;
        }
    }



    .column-grid-icon {
        margin: 0 20px 60px;
        text-align: center;

        .icon-grid {
            margin-bottom: 20px;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: auto;
                height: 100px;
                object-fit: contain;
            }
        }
    }

}