.mega-menu {
    @include max-screen(1100px) {
        background: #fff;
    }

    ul {
        padding: 0;
        margin: 0 10px 0 0;

        li {
            padding: 0 15px 0 0;
            margin: 0 0px 0 0;
            display: inline-block;

            @include max-screen(1100px) {
                display: block;
                width: 100%;
                padding: 12px 0px 12px 0;

            }

            >a {
                padding: 15px 5px;
                display: block;
            }


            a {
                font-size: 15px;
                color: #262626 !important;
				padding: 0 0 0 30px;
				display: block;

                @include max-screen(1100px) {}

                &:hover {
                    color: #007AFF !important;
                }
            }

            &.menu-item-has-children {
                background: url(../images/arrow-down.svg) no-repeat right 13px;


                @include max-screen(1100px) {
                    background: none;
                    display: block;
                }

                .menu-item__parent {
                    @include max-screen(1100px) {
                        padding: 0 0;
                        background: url(../images/arrow-down.svg) no-repeat right 12px top 12px;
                        background-size: 12px;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        position: relative;
                    }
                }
            }

            @include max-screen(1100px) {
                &.menu-item-has-children .active {
                    background: url(../images/arrow-up.svg) no-repeat right 10px top 11px;
                    background-size: 12px;

                    a {
                        color: #007AFF !important;
                    }
                }
            }

            &.menu-item-has-children:hover {
                background: url(../images/arrow-up.svg) no-repeat right 12px;

                @include max-screen(1100px) {
                    background: none;
                }
            }

            &:hover>a {
                color: #3377ff !important;
            }

            /****************** Sub Nav Starts ******************/
            .sub-nav {
                position: absolute;
                background: #fff;
                z-index: 1;
                margin-top: 20px;
                transition: 0.2s;
                opacity: 0;
                visibility: hidden;
                width: 100%;
                transform: translateY(20px);
                box-shadow: 0px 20px 30px rgba(6, 27, 59, 0.1);
                left: 0;
                padding: 50px 20px;

                @include max-screen(1100px) {
                    display: none;
                    opacity: 1;
                    visibility: visible;
                    position: relative;
                    margin-top: 0;
                    transform: translateY(0px);
                    width: calc(100% + 10px);
                    padding: 20px 20px 0 20px;
                    box-shadow: none;
                    background: #f5f9ff;
                    margin: 20px 0 0 0;
                    border-radius: 0px;
                    overflow: hidden;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: -31px;
                    height: 35px;
                    width: 100%;

                    @include max-screen(1100px) {
                        display: none;
                    }
                }

                p {
                    font-size: pxToRem(15px);
                    color: #262626;
                    font-weight: 700;
                    margin-bottom: 0;
                }

                .col-lg-3 {
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }

                span {
                    color: #5c5c5c;
                    font-size: pxToRem(15px);
                    font-weight: 600;
                    // padding-bottom: 4px;
                    display: block;
					@include max-screen(1100px) {
                        display: none;
                    }
                }

                li {
                    width: auto;
                    padding: 0;
                    margin: 0;

                    a {
                        display: block;
                        padding: 10px 20px;
                        border-radius: 15px;
                        position: relative;

                        &:hover {
                            background-color: #fbfbfb;

                            &:after {
                                content: "";
                                width: 6px;
                                height: 100%;
                                position: absolute;
                                left: -11px;
                                top: 0;
                                background: linear-gradient(43.93deg, #151D9C -47.3%, #00A4FF 24.34%, #00D97B 100%, #3FBAFF 100%);
                            }

                        }
                    }

                }

                /****************** Sub Nav Sub Category Starts ******************/

                .menu-group {
                    display: flex;
                    align-items: center;

                    .icon-menu {
                        width: 40px;
                        display: block;

                        img {
                            width: 25px;
                            height: 25px;
                            object-fit: contain;
                        }
                    }

                    .info-menu {
                        width: 100%;
						padding-top: 2px;

                        span {
                            @include max-screen(1100px) {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.menu-item-has-children:hover .sub-nav {
                visibility: visible;
                opacity: 1;
                transform: translateY(10px);

                @include max-screen(1100px) {
                    transform: translateY(0px);
                }

                .scrolled & {
                    transform: translateY(5px);
                }
            }

            .menu-grid-3 {

                visibility: visible;
                opacity: 1;

				@include max-screen(1100px) {
                   padding-bottom: 30px;
                }
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 0 0 0 0 !important;
                        margin: 0 !important;
                        // span {
                        // 	min-height: 45px;
                        // }
                    }
                }


                /****************** Sub Nav Heading ******************/
                a h4 {
                    display: flex;
                    align-items: flex-start;
                    // min-height: 58px;
                    margin-bottom: 20px;
                    margin-left: -9px;
                    font-size: pxToRem(18px);

					@include max-screen(1100px) {
                        margin-top: 20px;
                    }

                    img {
                        margin-right: 10px;
                        margin-top: 4px;
                        width: 25px;
                        height: 25px;
                        object-fit: contain;
                    }

                    &:hover {
                        color: #007AFF;
                    }
                }
            }

            /****************** Single level Dropdown ******************/
            .single-column {
                font-weight: 600;
                padding: 30px 20px;
                max-width: 383px;
                width:auto;
                left: auto;

				//visibility: visible;
                //opacity: 1;


                @include max-screen(1100px) {
                    padding: 30px 20px;
                    width: 100%;
                    left: auto;
                    margin-left: auto;
					max-width: none;
                }


            }
        }
    }
}