.news-w {

    .our-blog-w {
        padding: 120px 0;

        .cont-ourblog {
            margin-top: 0;

            .column-ourblog {
                margin-bottom: 70px;
            }
        }

    }

}