.our-blog-w {
    padding: 120px 0 0px 0;

    @include max-screen(767px) {
        padding: 60px 0 0 0;
    }
    
    .brief-c {
        max-width: 550px;
    }

    .cont-ourblog {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;

        @include max-screen(767px) {
            margin-top: 50px;
        }

        .column-ourblog {
            flex: 0 0 calc(33.33333333% - 40px);
            padding-bottom: 100px;
            position: relative;
            margin: 20px;

            @include max-screen(991px) {
                flex: 0 0 calc(100% - 30px);
                margin-bottom: 60px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .img-ourblog {
                width: 100%;
                height: 280px;
                margin-bottom: 20px;
                overflow: hidden;

                img {
                    height: 280px;
                    object-fit: cover;
                    width: 100%;
                    border-radius: 30px;
                }
            }

            .date {
                background-color: #fbfbfb;
                border: 1px solid #e6e8eb;
                margin-bottom: 15px;
                border-radius: 30px;
                display: inline-block;
                padding: 2px 15px;
            }

            h4 {
                color: #262626;
                margin: 0 0 20px 0;
                font-weight: bold;
                line-height: 1.3;
            }

            p {
                margin: 0;
            }

            .action-blog {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .blog-free-trial-ad {
        margin: 100px 0 0 0;
    }
}

.itemsbigtip {
    display: none;
}