.ourtechpartners-w {
    padding: 140px 0 123px 0;
    position: relative;
    background: url(../images/otp-bg.png) no-repeat;
    background-size: 100% 100%;

    @include max-screen(767px) {
        padding: 60px 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &:before {
        width: 396px;
        height: 236px;
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        background: url(../images/white-small-bubbles-bg.svg) no-repeat;
    }

    &:after {
        width: 396px;
        height: 236px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        background: url(../images/white-small-bubbles-bg.svg) no-repeat;
    }

    .brief-c {
        max-width: 560px;
    }

    .cont-otp {
        display: flex;
        margin: 80px 0 0 0;
        justify-content: center;
        flex-wrap: wrap;

        @include max-screen(767px) {
            margin-top: 50px;
        }

        @include max-screen(991px) {
            flex-direction: column;
        }

        .column-otp {
            flex: 0 0 calc(25% - 40px);
            margin: 0 20px 30px;
            padding: 20px 23px;
            background-color: #fff;
            border-radius: 30px;
            text-align: center;
            position: relative;

            a.link-box {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            @include max-screen(767px) {
                margin: 0 20px 30px;
            }

            p {
                margin: 0;
            }

            @include max-screen(991px) {
                flex: 0 0 calc(100% - 80px);
            }
        }

        .partner-logo {
            margin: 0 0 0px 0;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 40px;
            }
        }
    }
}

.dark-bg {
    padding: 140px 0 123px 0;
    position: relative;
    background: url(../images/otp-bg.png) no-repeat;
    background-size: 100% 100%;

    @include max-screen(767px) {
        padding: 60px 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &:before {
        width: 396px;
        height: 236px;
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        background: url(../images/white-small-bubbles-bg.svg) no-repeat;
    }

    &:after {
        width: 396px;
        height: 236px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        background: url(../images/white-small-bubbles-bg.svg) no-repeat;
    }
}