.single-testimonial {
  padding: 160px 0;
  background: url(../images/cdpq-bg.png) no-repeat;
  position: relative;

  @include max-screen(767px) {
    padding: 60px 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &:before {
    width: 396px;
    height: 236px;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background: url(../images/white-small-bubbles-bg.svg) no-repeat;
  }

  &:after {
    width: 396px;
    height: 236px;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: url(../images/white-small-bubbles-bg.svg) no-repeat;
  }

  h2{ color: #fff; margin-bottom: 80px;}


.s-testimonial{ max-width: 800px; margin: 0 auto; padding:0;

.icon-commas{ margin: 0 0 25px 0; width: 37px; height: 30px;}

    .author-testimonial {
        display: flex;
        align-items: center;
        .img-author {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: block;
          background-color: gray;
          margin-right: 16px;
        }
        .author-d {
          margin: 0;
          h5 {
            font-size:pxToRem(18px);
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: 700;
            color: #fff;
          }
          h6 {
            font-size:pxToRem(18px);
            margin: 0 0 5px 0;
            padding: 0;
            color: #fff;
            font-weight: 500;
          }
        }
      }

}


}
