.team-w {
  padding: 120px 0 0 0;

  @include max-screen(991px) {
    padding: 60px 0;
  }

  .members-c {
    margin: 80px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    .column-members {
      margin: 0 15px 80px;
      flex: 0 0 calc(25% - 30px);

      @include max-screen(991px) {
        flex: 0 0 calc(50% - 30px);
      }

      @include max-screen(767px) {
        flex: 0 0 calc(100% - 30px);
        text-align: center;
      }

      .img-members {
        border-radius: 30px;
        margin-bottom: 25px;
        overflow: hidden;
        width: 100%;

        img {
          max-width: 100%;
          border-radius: 30px;
        }
      }

      h5 {
        font-size: pxToRem(18px);
        margin: 0 0 10px 0;
        font-weight: bold;
      }

      h6 {
        color: #007aff;
        font-weight: 500;
        font-size: pxToRem(18px);
      }
    }
  }
}

.estb-company {
  max-width: 1000px;
  margin: 50px auto 120px;

  h2 {
    margin: 0 0 30px 0;
  }

  .img-estb {
    margin: 0;
    display: flex;
    justify-content: flex-end;

    @include max-screen(991px) {
      text-align: center;
      display: block;
      margin-bottom: 50px;
    }

    img {
      max-width: 100%;
      border-radius: 30px;
    }
  }

 
}
