.whybackup-hdr {
  padding-top: 0px;
  padding-bottom: 0px;

  @include max-screen(991px) {
    text-align: center;
    padding-bottom: 70px;
  }

  @include max-screen(767px) {
    padding: 60px 0;
  }

  .whybackup-info {
    max-width: 610px;
    margin-top: -50px;

    @include max-screen(991px) {
      max-width: 100%;
    }
  }

  h2 {
    margin: 0 0 30px 0;
    padding: 0;

    span {
      color: #007aff;
    }
  }

  p {
    margin: 0;
    max-width: 476px;

    @include max-screen(991px) {
      max-width: 100%;
    }
  }

  .img-whybackup {
    margin: 0;

    img {
      max-width: 140%;
      height: auto;
      margin-left: -75px;

      @include max-screen(991px) {
        margin-left: 0;
      }

      @include max-screen(767px) {
        max-width: 100%;
      height: auto;
      margin-left: 0px;
      }
    }
  }
}