.whychoose-w {
  padding: 160px 0;
  background-color: #f5faff;

  .cont-whychoose {
    margin: 80px 0 50px 0;
    display: flex;
    flex-wrap: wrap;

    .column-whychoose {
      flex: 0 0 calc(20% - 40px);
      margin: 0 20px 30px;

      .icon-whychoose {
        margin-bottom: 20px;
        min-height: 111px;

        img {
          max-width: 111px;
          height: auto;
        }
      }
    }
  }
}
