.whychoose-w {
    padding: 160px 0;
    background-color: #f5faff;

    @include max-screen(767px) {
        padding: 60px 0;
    }

    .cont-whychoose {
        margin: 80px 0 50px 0;
        display: flex;
        flex-wrap: wrap;

        @include max-screen(991px) {
            justify-content: center;
        }

        @include max-screen(767px) {
            margin-top: 60px;
            margin-bottom: 0px;
        }

        .column-whychoose {
            flex: 0 0 calc(20% - 40px);
            margin: 0 20px 30px;

            @include max-screen(991px) {
                flex: 0 0 calc(50% - 40px);
                text-align: center;
            }

            @include max-screen(767px) {
                flex: 0 0 calc(100% - 40px);
            }

            .icon-whychoose {
                margin-bottom: 20px;
                min-height: 111px;
                display: flex;
                align-items: center;

                @include max-screen(767px) {
                    justify-content: center;
                }

                img {
                    width: 111px;
                    height: 111px;
                    object-fit: contain;
                }
            }
        }
    }
}